* {
    padding: 0px;
    margin: 0px;
    --body: rgb(55, 55, 55);
    --body-heading: rgba(35, 35, 35, 0.75);
    --body-text: #e4e4e4;
    --callout-bg:rgba(90, 90, 90, 0.2);
    --dotted-line: rgba(226, 226, 226, 0.65);
    --link-line: rgb(226, 105, 105);
}

/*
* Colors for automatic dark mode 
*/
@media (prefers-color-scheme: light) {
    * {
        --body:rgb(253, 253, 253);
        --body-text: #272727;
        --callout-bg:rgba(220, 220, 220, 0.2);
        --body-heading: rgba(240, 240, 240, 0.60);
        --dotted-line: rgba(68, 68, 68, 0.65);
        --link-line: rgb(47, 214, 144);
    }
}


a {
    text-decoration: none;
    color: var(--body-text);
    border-bottom: 1.5px solid var(--link-line);
    padding-bottom: 1.85px;
    font-weight: 420;
    overflow-x: hidden;
}

a:hover {
    border-bottom: 1.5px dashed var(--link-line);
}

body {
    background-color: var(--body);
    color: var(--body-text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h3 {
    font-family: 'Lora',serif;
    margin-bottom: 0.5em;
}

.top-head {
    grid-template-columns:
    minmax(0.9rem, 1fr)
    minmax(auto, 71ch)
    minmax(0.9rem, 1fr);
    display: grid;
    min-height: 210px;
    background-color: var(--body-heading);
    padding-left: 7px;
    margin: 0px;
    z-index: 9;
    overflow-x: hidden;
}

.title-section {
    grid-column: 2;
    align-self: flex-end;
    max-height: fit-content;
    line-height: 2em;
    margin-bottom: 1.3em;
    overflow: hidden;
}

.home-link {
    height: 20px;
    border-bottom: 1px dashed var(--body-text);
    padding-bottom: 0px;
    width: 90px;
    grid-column: 2;
    margin-top: 3em;
    margin-bottom: 1.75em;
    color: var(--body-text);
    font-weight: 500;
    font-size: 9pt;
    text-decoration: none;
    cursor: pointer;
    overflow-x: hidden;
}

.home-link:hover {
    border-bottom: 1px solid var(--body-text);
}

.box-link {
    margin-bottom: 1.75em;
    width: 60px;
    height: 20px;
    grid-column: 2;
    box-shadow: 5px 6px var(--body-text);; 
    border: 3.25px solid; 
    border-radius: 4px;
    padding: 5px;
    color: var(--body-text);
    font-weight: 500;
    font-size: 11pt;
    text-decoration: none;
    cursor: pointer;
    overflow-x: hidden;
}

 .title {
    color: var(--body-text);
    justify-self: center;
    font-size: 25pt;
    font-weight: 600;
    line-height: 1.25em;
    font-family: 'Lora',serif;
    max-height: fit-content;
    margin-bottom: 0.20em;
    grid-column: 2;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
}

.date {
    color: var(--body-text);
    font-size: 9pt;
    padding-left: 2px;
    font-weight: 520;
    overflow-x: hidden;
}

.tag-link::before {
    content: "🏷️ ";
}

.tag-link {
    font-size: 9.35pt; 
    font-weight: 600; 
    color: var(--body-text);
    border-bottom: 0px;
    margin-right: 12.5px;
}

.main-section {
    display: grid;
    grid-template-columns:
    minmax(0.9rem, 1fr)
    minmax(auto, 71ch)
    minmax(0.9rem, 1fr);
    z-index: 999;
    overflow-x: hidden;
}

.body-text {
    padding-left: 5px;
    margin-top: 1.5em;
    grid-column: 2;
    font-size: 12pt;
    line-height: 1.85rem;
    padding-bottom: 3em;
    overflow-x: hidden;
}

.body-text p {
    grid-column: 2;
    line-height: 2em;
    margin-bottom: 1em;
    overflow-x: hidden;
}

.callout::before {
    content: "⭐ ";
}

.callout {
    background-color:  var(--callout-bg);
    padding: 13.5px;
    line-height: 1.60rem;
    border-radius: 5px;
    margin-bottom: 1.5em;
    overflow-x: hidden;
}

/*
* Not necessarily on every page.
*/

pre {
    height: 135px;
}

code {
    font-family: monospace;
    font-size: 10pt;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    max-height: 100px;
    margin-right: 2px;
    margin-top: 1em;
    border-radius: 8px;
    margin: 0;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  ul {
      margin-left: 1em;
      margin-bottom: 1em;
  }